<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CircleTest1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(function () {
            console.log("click!");
            document.addEventListener('click', function (event) {
                var cursorX = event.clientX;
                var cursorY = event.clientY;
                console.log(cursorX, cursorY);
                document.body.textContent = 'x:'+ cursorX+ ', y:'+ cursorY;
            });
        });
    </script>
    @RenderBody()
</body>
</html>
